
{{ form_start(form) }}
<div class="row">
<div class="col-14">
	{{ form_row(form.name,{ 'attr': { 'disabled': 'disabled' , 'class': 'form-control'} }) }}
</div>
</div>
<div class="row">
<div class="col-14">
	{{ form_row(form.members, {'attr': {'class': 'form-control'}}) }}
</div>
</div>
<div class="row">
<div class="col-14">
	{{ form_row(form.initialDate,{ 'attr': { 'disabled': 'disabled', 'class': 'form-control' } }) }}
</div>
</div>
<div class="row">
<div class="col-14">
	{{ form_row(form.fdate,{ 'attr': { 'disabled': 'disabled', 'class': 'form-control' } }) }}
</div>
</div>
<div class="row"  style="margin-top:10px">
	<div class="col-6">
		<button class="btn btn-success btn-sm">{{ button_label|default('Guardar') }}</button>
	</div>
	<div class="col-6">
		<a class="btn btn-danger btn-sm " href="{{ path('app_course_index') }}">Cancelar</a>
	</div>
</div>
{{ form_end(form) }}