{% block title %}{% endblock %}
<link rel="icon" type="image/x-icon" href="{{ asset('dist/img/XperienceUML.png') }}"/>
{% block stylesheets %}
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ asset('plugins/fontawesome-free/css/all.min.css') }}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="{{ asset('plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ asset('dist/css/adminlte.min.css') }}">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

{% endblock %}

{% block javascripts %}
<!-- jQuery -->
<script src="{{ asset('plugins/jquery/jquery.min.js') }}"></script>
<!-- Bootstrap 4 -->
<script src="{{ asset('plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ asset('dist/js/adminlte.min.js') }}"></script>
{% endblock %}



{% block body %}

<form method ="post">

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.name }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}


<body class="hold-transition login-page">
    
<div class="login-box">
  <div class="login-logo">
      <img src="{{asset('dist/img/XperienceUML.png')}}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <a href="#"><b>XPerience</b>UML</a>
  </div>
  <!-- /.login-logo -->
  
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Inicie sesión</p>
        <div class="input-group mb-3">
              <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Correo"class="form-control" autocomplete="email" required autofocus>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
              <input type="password" name="password" id="inputPassword" placeholder="Clave de acceso"class="form-control" autocomplete="current-password" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Ingresar</button>
          </div>
        </div>
      <p class="mb-0">
        <button type="submit" class="btn btn-primary btn-block btn-flat"><a href="{{ path('app_register')}}"  class="btn btn-primary btn-block btn-flat">Registrarme ahora</a></button>
      </p>
    </div>
  </div>
</div>
</form>
</body>


{% endblock %}
