
{{ form_start(form) }}

<div class="row">
   
{{ form_row(form.course) }}



<div class="col">
    {{ form_row(form.nactivity) }}
</div>
<div class="col">
    {{ form_row(form.action) }}
</div>

</div>
      


   <div class="row-fluid">
    <div class="row">
        Líneas de Código
    <div class="codeline"
    data-index="{{ form.codeline|length > 0 ? form.codeline|last.vars.name + 1 : 0 }}"
    data-prototype="{{ form_row(form.codeline.vars.prototype)|e('html_attr') }}"></div>
    </div>
</div>


    <button class="btn btn-success">{{ button_label|default('Aceptar') }}</button>
        <a  class="btn btn-danger " href="{{ path('app_eval_code_index') }}">Cancelar</a>
{{ form_end(form) }}



{% block javascripts %}
 <script type="text/javascript">
{# Add Atributes #}
   const addTagLink = document.createElement('a')
            addTagLink.classList.add('add_codeline_list')
            addTagLink.href = '#'
            addTagLink.innerText = 'Add línea'
            addTagLink.dataset.collectionHolderClass = 'codeline'
            const newLinkLi = document.createElement('p').append(addTagLink)
            const collectionHolder = document.querySelector('div.codeline')
            collectionHolder.appendChild(addTagLink)
            const addFormToCollection = (e) => {
                const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
                const item = document.createElement('p');
                item.innerHTML = collectionHolder
                    .dataset
                    .prototype
                    .replace(
                        /__name__/g,
                        collectionHolder.dataset.index
                    );
                collectionHolder.appendChild(item);
                collectionHolder.dataset.index++;
            }
            addTagLink.addEventListener("click", addFormToCollection)
    {# Atributes #}

</script>


{% endblock %}