{% extends 'base.html.twig' %}

{% block title %}Evaluación Tarea Implementación{% endblock %}

{% block body %}


 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
    <h1>Evaluación Tarea  Implementación</h1>
    <div class="row">
           <div class="col"><strong><i>{{ eval_code.course }}/</i></strong></div>

 
 
    
           <div class="col"><u><strong></i>{{ eval_code.nactivity }}</i></strong></u></div>
           <div class="col"><strong><i>{{ eval_code.action }}/</i></strong></div>
    </div>





    <table class="table">
        <tbody style="color:gray">
       


              {% if not incorrecto %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Respuesta de Profe!</h4>
                La implementación del código para el estudiante {{ eval_code.action }}  en la actividad : <strong> {{ eval_code.nactivity }} </strong>del curso :
                
                <strong>{{ eval_code.course }}<strong> fue <i>Correcta</i>.
                    </div>


  <textarea class="form-control " name="" id="" rows="12" style="border-style: ;color:green" disabled>
//Respuesta correcta
                {% for a in eval_code.codeline %}
               {{loop.index}}  {{ a.entry }}
                {% endfor %}
           
            </textarea>
            {% else %}


                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Respuesta de Profe!</h4>
                La implementación del código para el estudiante {{ eval_code.action }}  en la actividad : <strong> {{ eval_code.nactivity }} </strong>del curso :
                
                <strong>{{ eval_code.course }}<strong> fue <i>Incorrecta</i>.
                    </div>
                <textarea class="form-control" name="" id="" rows="12" style="border-style: ;color:red" disabled>
                   
                                    {% for a in eval_code.codeline %}
                                   {{loop.index}}  {{ a.entry }}
                                    {% endfor %}
                               
                                </textarea>

            {% endif %}


        </tbody>
    </table>

    <a href="{{ path('app_eval_code_index') }}"><i class="fa fa-tasks"></i></a>

   
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_eval_code_edit', {'id': eval_code.id}) }}"><i class="fa fa-edit"></i></a>
    {{ include('eval_code/_delete_form.html.twig') }}

    {% endif %}


        </div>
</section>
    </div>
{% endblock %}