{% extends 'base.html.twig' %}

{% block title %}Solución Prototipo Clase{% endblock %}

{% block body %}


 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
    <h1>Solución Prototipo Clase</h1>
    <div class="row">
           <div class="col"><strong><i>{{ p_class.course }}/</i></strong></div>

 
 
    
           <div class="col"><u><strong></i>{{ p_class.nactivity }}</i></strong></u></div>

    </div>





    <table class="table">
        <tbody style="color:blue">
       

<tr>
    <th><i>//Resultado</i></th>
</tr>
            <tr>
           
                   <td><strong> public class {{ p_class.name }}</strong></td>

            </tr>

            <tr>

            <td> <strong>{</strong></td>
            </tr>

            <tr>
      

                {% for a in p_class.atribute %}
                    <tr>
                   <td><strong>{{a.datatype}} {{ a.name }};</strong></button></td>
                   </tr>
                {% endfor %}
            </tr>
<tr>


    {%  for o in p_class.operation  %}
        <tr>
       <td><strong>public {{o.datatype}} {{ o.name }}(){}</strong></td>
     
       </tr>
    {% endfor %}
    <tr>
       <td> <strong>}</strong></td>
</tr>
</tr>


        </tbody>
    </table>

    <a href="{{ path('app_p_class_index') }}"><i class="fa fa-tasks"></i></a>

   
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_p_class_edit', {'id': p_class.id}) }}"><i class="fa fa-edit"></i></a>
    {{ include('p_class/_delete_form.html.twig') }}

    {% endif %}


        </div>
</section>
    </div>
{% endblock %}