{% extends 'base.html.twig' %}

{% block title %}Soluci贸n Implementaci贸n{% endblock %}

{% block body %}


 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
    <h1>Soluci贸n Implementaci贸n</h1>
    <div class="row">
           <div class="col"><strong><i>{{ success_code.course }}/</i></strong></div>

 
 
    
           <div class="col"><u><strong></i>{{ success_code.nactivity }}</i></strong></u></div>

    </div>





    <table class="table">
        <tbody style="color:gray">
       




  <textarea class="form-control" name="" id="" rows="12" style="border-style: ;color:green" disabled>
//Respuesta correcta
                {% for a in success_code.codeline %}
               {{loop.index}}  {{ a.entry }}
                {% endfor %}
           
            </textarea>
        </tbody>
    </table>

    <a href="{{ path('app_success_code_index') }}"><i class="fa fa-tasks"></i></a>

   
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_success_code_edit', {'id': success_code.id}) }}"><i class="fa fa-edit"></i></a>
    {{ include('success_code/_delete_form.html.twig') }}

    {% endif %}


        </div>
</section>
    </div>
{% endblock %}