<div class="container-lg">
	<h1 class="display-4">
		XperienceUML/Declaración</h1>



	<hr class="featurette-divider">
	<table class="table">
		<tbody>
	<tr>


		<td>
			{{ st.actor|json_encode(constant('JSON_PRETTY_PRINT'))}}

		</td>


	</tr>

	<tr>

		<td>
			{{st.verb|json_encode(constant('JSON_PRETTY_PRINT'))}}
		</td>
	</tr>
	<tr>


		<td>
			{{st.object|json_encode(constant('JSON_PRETTY_PRINT'))}}
		</td>


	</tr>

	<tr>


		<td>
			{{st.context|json_encode(constant('JSON_PRETTY_PRINT'))}}

		</td>


	</tr>
	<tr>


		<td>
			{{st.result|json_encode(constant('JSON_PRETTY_PRINT'))}}

		</td>

	</tr>




</tbody></table><footer class="main-footer">
<div class="float-right d-none d-sm-block">
	<b>Version</b>
	1.0
</div>
<strong>Copyright &copy; 2022.
																																								XPerienceUML.</strong>
Todos los derechos
																																																																													        reservados.</footer></div>
